<button type="button" id="create-post-button"><</button>

<div id="modal-backdrop" class="hidden"></div>
<div id="create-modal" class="hidden">
  <div class="modal-dialog">

    <div class="modal-header">
      <h3>Create a Post</h3>
      <button type="button" id="modal-close" class="modal-hide-button">&times;</button>
    </div>

    <div class="modal-body">

      <div class="post-input-element">
        <label for="post-title-input">Title</label>
        <input type="text" id="post-title-input"></input>
      </div>

      <div class="post-input-element">
        <label for="post-graphic-input">Graphic</label>
        <input type="text" id="post-graphic-input">
      </div>

      <div class="post-input-element">
        <label for="post-sound-input">Sound</label>
        <input type="text" id="post-sound-input">
      </div>

      <div class="post-input-element">
        <label for="post-description-input">Description</label>
        <input type="text" id="post-description-input">
      </div>

      <div class="post-input-element">
        <label for="post-embed-input">Embedded Post</label>
        <input type="text" id="post-embed-input">
      </div>

      <div class="post-input-element">
        <label for="post-tags-input">Tags</label>
        <input type="text" id="post-tags-input">
      </div>

    </div>

    <div class="modal-footer">
      <button type="button" id="modal-cancel" class="modal-hide-button action-button">Cancel</button>
      <button type="button" id="modal-accept" class="action-button">Publish</button>
    </div>

  </div>
</div>
