

<div class="create-profile-header">
  <h3>Create a Profile</h3>
  <button type="button" id="modal-close" class="modal-hide-button">&times;</button>
</div>

<div class="create-profile-form">

  <div class="post-input-element">
    <label for="post-title-input">Username</label>
    <input type="text" id="post-title-input"></input>
  </div>

  <div class="post-input-element">
    <label for="post-graphic-input">Password</label>
    <input type="text" id="post-graphic-input">
  </div>

  <div class="post-input-element">
    <label for="post-sound-input">Email</label>
    <input type="text" id="post-sound-input">
  </div>
