

<div id="modal-backdrop" class="hidden"></div>
<div id="create-modal" class="hidden">
  <div class="modal-dialog">

    <div class="modal-header">
      <h3>Create a Post</h3>
      <button type="button" id="modal-close" class="modal-hide-button">&times;</button>
    </div>

    <!-- <hr id="create-hr"> -->

    <div class="modal-body">

      <div class="post-input-element" id="title-element">
        <input type="text" id="post-title-input" placeholder="Title" required></input>
      </div>

      <div class="post-input-element">
        <input type="text" id="post-graphic-input" placeholder="graphic" required>
      </div>

      <div class="post-input-element">
        <input type="text" id="post-sound-input" placeholder="sound" required>
      </div>

      <div class="post-input-element" id="description-element">
        <textarea id="post-description-input" placeholder="description"></textarea>
      </div>

      <div class="post-input-element">
        <input type="text" id="post-embed-input" placeholder="embed URL">
      </div>

      <div class="post-input-element">
        <input type="text" id="post-tags-input" placeholder="tags">
      </div>

    </div>

    <div class="modal-footer">
      <button type="button" id="modal-cancel" class="modal-hide-button action-button">Cancel</button>
      <button type="button" id="modal-accept" class="action-button">Publish</button>
    </div>

  </div>
</div>
