<main class="content">
  <section id="posts">

    {{#each posts}}
      {{#if description}}
        {{> post}}
      {{/if}}
    {{/each}}

  </section>

  <button type="button" id="create-post-button"> + </button>
  {{> create-post}}

</main>
